doctype html
html.
	<head> 
		<link rel='stylesheet' href='bootstrap/css/bootstrap.min.css'>
		<link rel='stylesheet' href='bootstrap/css/bootstrap-theme.min.css'>
		<script src="bootstrap/js/bootstrap.min.js"></script> 
		<script src="scripts/angular.min.js"></script>
		<script src="scripts/jquery-1.11.3.min.js"></script> 
		<script> 
			$(function(){
				$("#navigation").load("_navigation.html"); 
			});
		</script> 
	</head> 
	
	<div id="navigation"></div>
	
	<body>
		<!--#include file="header.html"-->
		<div class="container">
			<center><h2>(Pretend this is a navbar and figure out how to %include a html navbar layout)</h2></center>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<center><h2>Computer Science Buddy System Website</h2></center>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
					totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
					Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
					eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
					consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
					quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
					nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
					quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<h2>Computer Science Buddy System Website</h2>
					<p>TACOS!!!!</p>
				</div>
				<div class="col-lg-6 col-md-6">
					<h2>Computer Science Buddy System Website</h2>
					<p>TACOS!!!!</p>
				</div>
			</div>
		</div>
	</body>

  
  
