extends layout

block content
	.container
		h1= title
		.row
			.col-lg-6.col-md-6
				p Welcome to #{title} this is the content loaded in "test.jade" to test the routing engine
			.col-lg-6.col-md-6
				p Welcome to #{title} this is the content
				a(href='/') home