extends _bLayout

block content
	div.mdl-cell.mdl-cell--12-col.mdl-cell--12-col-tablet.mdl-cell--12-col-phone.mdl-card.mdl-shadow--2dp.title-card-wide
		div.mdl-card__title(style="background: url('/images/tutorialTitle.gif') center / cover; height:445px;")
			h2.mdl-card__title-text Tutorials (with a dumb temp picture in the background)
		div.mdl-card__supporting-text
			p (tutorials desc and scope)

	div.mdl-cell.mdl-cell--12-col.mdl-cell--12-col-tablet.mdl-cell--12-col-phone.mdl-card.mdl-shadow--2dp.content-card
		div.mdl-card__title
			h2.mdl-card__title-text Tutorials (with a dumb temp picture in the background)
		div.mdl-card__supporting-text
			p (tutorials desc and scope)
			
	div.mdl-cell.mdl-cell--6-col.mdl-cell--6-col-tablet.mdl-cell--6-col-phone.mdl-card.mdl-shadow--2dp.content-card
		div.mdl-card__title.mdl-color--teal-300
			h2.mdl-card__title-text Node.js Express Website Tutorial
			p August 2015
		div.mdl-card__supporting-text
			p Tags: nodejs, express, web-development, javascript, html, css, jade
		div.mdl-card__supporting-text
			p Nodejs is the new cool kid in the web development community. With more flexibility and performance than it's competitors, it is a need to know for future web developers.
		div.mdl-card__actions.mdl-card--border
			a.mdl-button.mdl-js-button.mdl-js-ripple-effect(href="#" data-upgraded=",MaterialButton,MaterialRipple") See Tutorial
	div.mdl-cell.mdl-cell--6-col.mdl-cell--6-col-tablet.mdl-cell--6-col-phone.mdl-card.mdl-shadow--2dp.content-card
	div.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--2dp.content-card
	div.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--2dp.content-card
	div.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--2dp.content-card